# directories
venv*/
data/
results/*
notebooks/
old*
trained_models/

# Byte-compiled / optimized / DLL files
*.egg-info
*pyc
__pycache__/
*.py[cod]
*.egg*
.ipynb_checkpoints/
.DS_Store

# files
.gitignore
*.tar
*.zip
*.tar
*.sublime*

# extensions
*.pyc
*.egg-info

# placeholders to keep directories
!.keep
