# directories
venv*/
data/
results/*
notebooks/
old*
trained_models/
imgs/*
.idea/
experiments/
.vscode/
*backup*/
archive*
log*

# Byte-compiled / optimized / DLL files
*.egg-info
*pyc
__pycache__/
*.py[cod]
*.egg*
.ipynb_checkpoints/
.DS_Store

# files
.gitignore

# extensions
*.pyc
*.log
*.sh
*.tar
*.zip
*.tar
*.sublime*
*.swp

# placeholders to keep directories
!.keep
